{% extends 'base.html' %}
{% load static %}

{% block head_title %}Checkout{% endblock head_title %}
{% block content %}

<!--Main layout-->
<main>
    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form method="post" class="card-body">
                        {% csrf_token %}

                        <h3>Shipping address</h3>
                        <div class="hideable_shipping_form">
                            <!--address-->
                            <div class="md-form mb-5">
                                <input type="text" id="shipping_address" name="shipping_address" class="form-control"
                                       placeholder="1234 Main St">
                                <label for="shipping_address" class="">Address</label>
                            </div>

                            <!--address-2-->
                            <div class="md-form mb-5">
                                <input type="text" id="shipping_address2" name="shipping_address2" class="form-control"
                                       placeholder="Apartment or suite">
                                <label for="shipping_address2" class="">Address 2 (optional)</label>
                            </div>

                            <!--Grid row-->
                            <div class="row">

                                {% comment %}
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <label for="country">Country</label>
                                    <select class="custom-select d-block w-100" id="country" required>
                                        <option value="">Choose...</option>
                                        <option>United States</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">

                                    <label for="state">State</label>
                                    <select class="custom-select d-block w-100" id="state" required>
                                        <option value="">Choose...</option>
                                        <option>California</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>

                                </div>
                                <!--Grid column-->
                                {% endcomment %}

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">

                                    <label for="shipping_zip">Zip</label>
                                    <input type="text" class="form-control" id="shipping_zip" name="shipping_zip"
                                           placeholder="Zip code">
                                    <div class="invalid-feedback">
                                        Zip code.
                                    </div>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input" name="same_billing_address"
                                       id="same_billing_address">

                                <label class="custom-control-label" for="same_billing_address">Billing address is the
                                    same as my
                                    shipping address</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input" name="set_default_shipping"
                                       id="set_default_shipping">

                                <label class="custom-control-label" for="set_default_shipping">Save as default shipping
                                    address</label>
                            </div>

                        </div>

                      {% if default_shipping_address %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                   class="custom-control-input" name="use_default_shipping" id="use_default_shipping">

                            <label class="custom-control-label" for="use_default_shipping">Use default shipping
                                address: {{ default_billing_address.street_address|truncatechars:10 }} </label>
                        </div>
                      {% endif %}

                        <hr>

                        <h3>Billing address</h3>
                        <div class="hideable_billing_form">
                            <!--address-->
                            <div class="md-form mb-5">
                                <input type="text" id="billing_address" name="billing_address" class="form-control"
                                       placeholder="1234 Main St">
                                <label for="billing_address" class="">Address</label>
                            </div>

                            <!--address-2-->
                            <div class="md-form mb-5">
                                <input type="text" id="billing_address2" name="billing_address2" class="form-control"
                                       placeholder="Apartment or suite">
                                <label for="billing_address2" class="">Address 2 (optional)</label>
                            </div>

                            <!--Grid row-->
                            <div class="row">

                                {% comment %}
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <label for="country">Country</label>
                                    <select class="custom-select d-block w-100" id="country" required>
                                        <option value="">Choose...</option>
                                        <option>United States</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">

                                    <label for="state">State</label>
                                    <select class="custom-select d-block w-100" id="state" required>
                                        <option value="">Choose...</option>
                                        <option>California</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>

                                </div>
                                <!--Grid column-->
                                {% endcomment %}

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">

                                    <label for="billing_zip">Zip</label>
                                    <input type="text" class="form-control" id="billing_zip" name="billing_zip"
                                           placeholder="Zip code">
                                    <div class="invalid-feedback">
                                        Zip code.
                                    </div>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input" name="set_default_billing"
                                       id="set_default_billing">

                                <label class="custom-control-label" for="set_default_billing">Save as default billing
                                    address</label>
                            </div>
                        </div>

                        {% if default_billing_address %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input" name="use_default_billing" id="use_default_billing">

                                <label class="custom-control-label" for="use_default_billing">Use default billing
                                    address: {{ default_billing_address.street_address|truncatechars:10 }} </label>
                            </div>
                          {% endif %}

                        <hr>

                        <h3>Payment option</h3>

                        <div class="d-block my-3">
                            {% for value, name in form.fields.payment_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{name}}" name="payment_option" value="{{value}}" type="radio"
                                       class="custom-control-input" required>
                                <label class="custom-control-label" for="{{name}}">{{ name }}</label>
                            </div>
                            {% endfor %}
                        </div>

                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

                    </form>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">
                {% include 'order_snippet.html' %}
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->

{% endblock content %}

{% block extra_scripts %}
<script>
    var hideable_shipping_form = $('.hideable_shipping_form');
    var hideable_billing_form = $('.hideable_billing_form');

    var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
    var use_default_billing = document.querySelector("input[name=use_default_billing]");

    use_default_shipping.addEventListener('change', function(){
       if (this.checked){
          hideable_shipping_form.hide();
       }else{
       hideable_shipping_form.show();
       }
    })

    use_default_billing.addEventListener('change', function(){
       if (this.checked){
          hideable_billing_form.hide();
       }else{
       hideable_billing_form.show();
       }
    })


    var same_billing_address = $('.same_billing_address');

    var same_billing_address = document.querySelector("input[name=same_billing_address]");

    same_billing_address.addEventListener('change', function(){
       if (this.checked){
          hideable_billing_form.hide();
       }else{
       hideable_billing_form.show();
       }
    })
</script>
{% endblock extra_scripts %}